<header class="header">
  <div class="container">
    <div class="logo"><img src="assets/images/logo.svg" alt="logo"></div>
    <nav class="menu">
      <ul>
        <li class="menu-item"><a href="#">Головна</a></li>
        <li class="menu-item"><a href="#cars">Автомобілі</a></li>
        <li class="menu-item"><a href="#price">Бронюровання авто</a></li>
      </ul>
    </nav>
  </div>
</header>
<section class="main" [ngStyle]="bgPos">
  <div class="container">
    <div class="main-info">
      <h1 class="main-title">Аренда преміальних автомобілей</h1>
      <p class="main-text">солідна колекція спортивних автомобілів — від достатньо
      поширених серійних моделей до справжнього гоночного ексклюзиву. Скористайтеся унікальною нагодою побувати за кермом справжньої
      легенди і дізнатися, на що вона здатна за межами гоночної траси!</p>
      <button type="button " class="button" id="main-action" (click)="goScroll(cars)">Переглянути автомобілі</button>

    </div>
  </div>
</section>
<section id="cars" class="car" #cars>
  <div class="container">
    <h2 class="sub-title">Наш автопарк</h2>
    <div class="car-items">
      <div class="car-item" *ngFor="let car of carsData">
        <div class="car-item-image">
          <img src="assets/images/{{car.image}}" alt="Image 1">
        </div>
        <h3 class="car-item-title">{{car.name}}</h3>
        <ul class="car-item-info">
          <li class="car-item-point">
            <img src="assets/images/gear.png" alt="Gear">
            <h4>Привід</h4>
            <p>{{car.gear}}</p>
          </li>
          <li class="car-item-point">
            <img src="assets/images/wheel.png" alt="Wheel">
            <h4>Двигун</h4>
            <p>{{car.engine}} л.с</p>
          </li>
          <li class="car-item-point">
            <img src="assets/images/belt.png" alt="Belt">
            <h4>Кіл-ть місць</h4>
            <p>{{car.places}}</p>
          </li>
        </ul>
        <button type="button" class="button car-button" (click)="goScroll(price, car)">Забронировать</button>
      </div>

    </div>
  </div>
</section>
<section id="price" class="price" #price>
  <div class="container">
    <h2 class="sub-title">Дізнатися ціну та забронювати</h2>
    <p class="price-text">Заповніть дані і ми передзвонимо вам для уточнення всіх деталей бронювання</p>
    <form action="" class="price-form" [formGroup]="priceForm">
      <input type="text" class="price-input" id="name" placeholder="Ваше имя" formControlName="name" />
      <input type="tel" class="price-input" id="phone" placeholder="Ваш телефон" formControlName="phone" />
      <input type="text" class="price-input" id="car" placeholder="Автомобиль, который вас интересует"
        formControlName="car" />
      <button class="button" id="price-action" (click)="onSubmit()" [disabled]="!priceForm.valid">Дізнатися ціну</button>
    </form>
    <img class="price-image" src="assets/images/rolls.png" alt="rolls" [ngStyle]="trans">
  </div>
</section>
<footer class="footer">
  <div class="container">
    <div class="logo"><img src="assets/images/logo.png" alt="logo"></div>
    <div class="right">Все права защищены</div>
  </div>
</footer>